<div class="footer-container">
  <div class="footer-block"></div>

  <!-- music-player.component.html -->
  <div class="music-player-container" style="margin-left: 400px;">
    <div class="controllers">
      <i class="fa fa-music" aria-hidden="true" ></i>
      <i class="fa fa-fast-backward" aria-hidden="true"></i>
      <i class="fa fa-play" aria-hidden="true"></i>
      <i class="fa fa-fast-forward" aria-hidden="true"></i>
      <i class="fa fa-retweet" aria-hidden="true"></i>
    </div>
  
    <div class="time_slider">
      <span class="runing_time" style="color: rgb(253, 249, 249);">0:40</span>
      <input type="range" id="range" value="0:40">
      <span class="song_long" style="color: rgb(253, 249, 249);">4:47</span>
    </div>
  </div>
  

  <div class="footer-block volume-control"style="margin-left: 150px;">
    <span class="material-icons" style="color: rgb(253, 249, 249); margin-right: 20px;">menu_open</span>
    <span class="material-icons" style="color: rgb(253, 249, 249); margin-right: 5px;">volume_down</span>
    <input type="range" id="volume" name="volume" min="0" max="100">
  </div>
</div>
