
<table [hover]="true" cTable color="dark">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">TITLE</th>
      <th scope="col">ARTIST</th>
      <th scope="col">ALBUM</th>
      
      
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">
        <i class="fas fa-heart" style="color: rgb(0,255,0);"></i>

      </th>
      <td>TURN IT UP</td>
      <td>TWICE</td>
      <td> FANCY YOU</td>
     
    </tr>
    <tr>
      <th scope="row">
        <i class="fas fa-heart" style="color: rgb(0,255,0);"></i>

      </th>
      <td>ECHO</td>
      <td>STARSET</td>
      <td>DIVISIONS</td>
    </tr>

    <tr>
      <th scope="row">
        <i class="far fa-heart" style="color: white;"></i>


      </th>
      <td>Rock it for Me</td>
      <td>Caravan..</td>
      <td>Panic</td>
    </tr>
  </tbody>
</table>
