<c-col xs="12">
  <c-card class="mb-4" color="dark">
    <c-card-header>

      <div class="card-header d-flex align-items-center">

        <button class="cButton btn btn-success text-white">Pause</button>
        <div class="input-group mb-3" style="margin-left: 25px; margin-right: 25px;">
          <span class="input-group-text bg-dark text-light  border-dark">
            <i class="fa fa-search"></i>
          </span>
          <input type="text" placeholder="Filter" class="form-control form-control-md bg-dark text-light  border-dark" />
        </div>
        

        <label style="color: aliceblue; margin-right: 15px;">DOWNLOAD </label>
        <div class="form-check form-switch">
          
          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
          
        </div>
      </div>

    </c-card-header>
    <c-card-body>



      <table [hover]="true" cTable color="dark">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">TITLE</th>
            <th scope="col">ARTIST</th>
            <th scope="col">ALBUM</th>
            <th scope="col">
              <i class="cil-calendar" style="margin-right: 15px;"></i>
              <i class="fa fa-chevron-up" aria-hidden="true" style="color: rgb(75, 226, 75);"></i>


            </th>
            
            
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">
              <i class="fas fa-heart" style="color: white;"></i>

            </th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td> 2020-01-25</td>
          </tr>
          <tr>
            <th scope="row">
              <i class="fas fa-heart" style="color: white;"></i>

            </th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">
              <i class="fas fa-heart" style="color: white;"></i>

            </th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">
              <i class="fas fa-heart" style="color: white;"></i>

            </th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">
              <i class="fas fa-heart" style="color: white;"></i>

            </th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">
              <i class="fas fa-heart" style="color: white;"></i>

            </th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">
              <i class="fas fa-heart" style="color: white;"></i>

            </th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">
              <i class="fas fa-heart" style="color: white;"></i>

            </th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>


        </tbody>
      </table>


    </c-card-body>
  </c-card>
</c-col>