
<div >
    <span style="color: white; font-size: 35px; font-style: italic;">Recently played</span>
    <div style=" display: flex; align-items: center; justify-content: space-between;">
        <div style="display: flex; flex-direction: column; margin-top: 10px;">

            <app-cards [imageUrl]="imageUrl"></app-cards>
        
            <!-- Paragraph below the first app-cards -->
            <strong style="color: white; margin-top: 15px; font-size: large;">Liked songs</strong>
        </div>
        <div style="display: flex; flex-direction: column; margin-top:60px ;">

            <app-cards [imageUrl]="imageUrl2"></app-cards>
        
            <!-- Paragraph below the first app-cards -->
            <strong style="color: white; margin-top: 15px; font-size: large;">Careless : The <br> Collection <br><span style="color: grey;">NEFFEX</span></strong>
        </div>


     <div style="display: flex; flex-direction: column; margin-top: 40px;">

            <app-cards [imageUrl]="imageUrl3"></app-cards>
        
            <!-- Paragraph below the first app-cards -->
            <strong style="color: white; margin-top: 15px; font-size: large;">X&Y <br><span style="color: grey;">Coldplay</span></strong>
        </div>

    <app-progress></app-progress>
    
</div>
</div>




<div style="margin-top: 55px;">
    <span style="color: white; font-size: 35px; font-style: italic;">Friends Activity</span>
    <div style=" display: flex; align-items: center; justify-content: space-between;">
 

    
</div>
</div>
<span style="color: white; font-size: 35px; font-style: italic;">New releases for you</span>